client/.pesde
client/*_packages
client/Packages

client/dist
client/roblox.d.luau
client/.meta/sourcemap.json
client/.meta/types
client/.meta/generated

.direnv

extension/node_modules
extension/dist
extension/bin

broker/target